body{
	background-color: #212d3d;
    color: #989595;
}
h4 , .p1, .p2{
	text-align: center;
}
.roll1 ,.roll2, .roll3,.roll4, .roll5 ,.roll6{
	display: none;
	margin:0 auto;
    border: 0px;
    background-color: transparent;
    color: white;
    height: 35px;
    width: 54px;
    cursor: pointer;
    border: 1px solid white;
	margin-top: 40px;
    border-radius: 5px;
}
.dice{
	width: 50%;
    display: block;
    margin: 0 auto;
}
.img{
	height: 352.500px;
}
footer{
	height: 100px;
	position: relative;
}
footer div button{
	position: absolute;
    bottom: 0px;
    left: 47%;
}
footer div span{
	display: block;
	margin:0 auto;
	text-align: center;
}
